@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  font-family: "Electrolize", sans-serif;
  @apply bg-gray-50;
}

.ant-btn-primary:not(.ant-btn-dangerous) {
  background-color: #1677ff;
}

.menu-link .anticon {
  display: flex;
  justify-content: center;
}

.menu-link {
  color: inherit;
}

.menu-link:focus {
  color: inherit;
}

.menu-link:hover,
.menu-link:focus-visible {
  color: #40a9ff;
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }

  .categories::-webkit-scrollbar {
    display: none;
  }

  .products::-webkit-scrollbar {
    display: none;
  }
}
